*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #868e96;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}
.container2{
    background-color: #868e96;
    height: 100vh;
    width: 100%;
    display: flex;
    color: white;
}
.sticky{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}
.top-container{
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: row;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
}
.clicker_img{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_img{
    width: 80px;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 10px;
}
.profile-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-icon_img{
    width: 80px;
    background-color: #f8f9fa;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 10px;
}
.search-window{
    height: 40px;
    width: 70vh;
    padding: 6px 6px 6px 50px;
    display: flex;
    font-size: 15px;
    border-radius: 10px;
    outline: 1px solid #d8d8d8; 
    background-image: url(pictures/lupa.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-y: 4px;
    background-position-x: 6px;
}
.main-header{
    width: 100%;
    height: 40px;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.header-things h2{
    font-size: 20px;
}
.header-things a{
    cursor: pointer;
}
.logo{
    width: 350px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
a{
    text-decoration: none;
    color: white;
}


.registration-center{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
    height: 80vh;
}
.registration-nadpis{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    width: 400px;   
    background-color: #5f646a;
    outline: #484b4f 3px solid;
}
.registration-data{
    width: 40%;
    height: 70vh;
    margin-top: 60px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    background-color: #343a40;
    border-radius: 30px;
    outline: #1e1e1e 3px solid;
}
.reg-text, .login-text{
    width: 600px;
    height: 40px;
    border-radius: 10px;
    background-color: #d8d8d8;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 20px;
}
.reg-mensi-text{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    background-color: #d8d8d8;
    padding-left: 15px;
    font-size: 18px;
    margin-top: 20px;
}
.reg-password, .login-password{
    width: 600px;
    height: 40px;
    border-radius: 10px;
    background-color: #d8d8d8;
    padding-left: 20px;
    font-size: 18px;
    margin-top: 20px;
}
.reg-btn, .login-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 15px;
    background-color: #1e1e1e;
    color: white;
    width: 300px;
    height: 70px;
    padding: 30px;
    margin-top: 40px;
}
.log-in{
    display: flex;
    color: #c2d0dd;
    background-color: #484b4f;
    outline: #1e1e1e 1px solid;
    border-radius: 15px;
    padding: 8px;
    font-size: 16px;
    margin-top: 30px;
}


.aktuality{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    color: white;
}
.aktuality_img{
    background-color: #484b4f;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 100%;
    height: 55vh;
    outline: 2px solid #343a40;
}
.btn-left{
    position: absolute;
    border-radius: 50px;
    padding: 0px 5px 0px 5px;
    display: flex;
    font-size: 25px;
    left: 200px;
}
.btn-right{
    position: absolute;
    border-radius: 50px;
    padding: 0px 5px 0px 5px;
    display: flex;
    font-size: 25px;
    right: 200px;
}
.santa-guitar{
    width: 1000px;
    display: flex;
    height: 55vh;
    border-radius: 30px;
    background-image: url(pictures/santa-guitar.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    color: white;
    padding-top: 150px;
}
.item{
    display: flex;
    flex-direction: column;
    background-color: #343a40;
    width: 50vh;
    height: 70vh;
    border-radius: 30px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    outline: #1e1e1e 3px solid;
}
.item p{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: end;
}
.item h2{
    font-size: 30px;
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: end;
}
.item-img{
    display: flex;
    width: 400px;
    height: 500px;
    object-fit: contain;
    background-color: #6d7278;
    border-radius: 20px;
    outline: #1e1e1e 2px solid;
    margin-bottom: 30px;
}
.line{
    text-decoration: line-through;
    color: #868e96f6;
}


.nakup{
    display: flex;
    width: 80%;
    height: 150vh;
    background-color: #343a40;
    margin-top: 50px;
    outline: #1e1e1e 2px solid;
    border-radius: 20px;
    color: white
}
.nakup-item-img{
    width: 600px;
    height: 600px;
    object-fit: contain;
    background-color: #d8d8d8;
    outline: #1e1e1e 3px solid;
    border-radius: 20px;
    margin: 30px;
}
.nakup-name{
    display: flex;
    width: 100%;
    padding: 30px;
    flex-direction: column;
}
.nakup-item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 10px;
    padding: 20px;
    font-size: 24px;    
    background-color: #868e96;
    border-radius: 20px;
    outline: #1e1e1e 2px solid;
    flex-wrap: wrap;
}
.nakup-price{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-top: 100px;
}
.nakup-line{
    text-decoration: line-through;
    color: #868e96f6;
    font-size: 30px;
}
.price{
    border-radius: 30px;
    display: flex;
    font-size: 50px;
}
.btn-price{
    background-color: red;
    width: 450px;
    border-radius: 30px;
    padding: 20px;
    font-size: 20px;
    color: white;
    outline: none;
}


.sluzby{
    width: 100%;
    background-color: #282a2c;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}
.nase-sluzby, .sluzby-spolecnost, .sluzby-komunita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dolu{
    padding-bottom: 30px;
}
.btn-dole{
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
    color: white;
    background-color: #1e1e1e;
    border-radius: 10px;
    font-size: 20px;
}
.social{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    height: 40vh;
    background-color: #868e96;
    color: white;
}
.social-news{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.social-news h2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.tips{
    display: grid;
    gap: 8px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}
.social-media{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.social-media h2{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
.bytwo{
    display: grid;
    flex-direction: column;
    padding-top: 30px;
    font-size: 20px;
    gap: 20px;
}
.one{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.two{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.icon{
    width: 50px;
}
.lol{
    line-height: 30px;
}
.lol::before{
    content: url(pictures/checkmark.png);
}
.lol::marker{
    content: none;
}